<%= render 'shared/navbar'%>
<div class='container'>
    <div class='row'>
        <div class='col-9'>
            <h4>Currently Attending:</h4>
            <div class='table-responsive'>
                <table class="table table-striped table-hover auto-c attending">
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Location</th>
                            <th>State</th>
                            <th>Host</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @attending.each do |e| %>
                            <tr class='clickable-row' data-href='<%= show_event_path e.id %>'>
                                <td>
                                    <%= e.name %>
                                </td>
                                <td>
                                    <%= e.date.strftime("%a %b #{e.date.day.ordinalize}, %Y") %>
                                </td>
                                <td>
                                    <%= e.time.strftime("%I:%M %p") %>
                                </td>
                                <td>
                                    <%= e.location %>
                                </td>
                                <td>
                                    <%= e.state %>
                                </td>
                                <td>
                                    <%= e.user.first_name %>
                                </td>
                                <td>
                                    <% unless e.users.include? @user %>
                                        <a href='<%= join_path e.id %>' role='button' data-toggle="tooltip" title="Join!" class='btn btn-primary clk'>
                                            <i class="fa fa-calendar-check-o clk" aria-hidden="true"></i>
                                        </a>
                                    <% else %>
                                        <a href='<%= unjoin_path e.id %>' data-toggle="tooltip" title="Leave!" class='btn btn-warning' data-method="delete">
                                            <i class="fa fa-calendar-times-o clk" aria-hidden="true"></i>
                                        </a>
                                    <% end %>
                                </td>
                            </tr>
                            <% end %>
                    </tbody>
                    <% if @attending.length > 4 %>
                        <tfoot>
                            <tr>
                                <th colspan="7">
                                    ...
                                    <br />
                                    <button class="expander btn btn-info btn-sm">More Events</button>
                                </th>
                            </tr>
                        </tfoot>
                        <% end %>
                </table>
            </div>
            <h4>Hosting:</h4>
            <div class='table-responsive'>
                <table class="table table-striped table-hover auto-c hosting">
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Location</th>
                            <th>State</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @created.each do |e| %>
                            <tr class='clickable-row' data-href='<%= show_event_path e.id %>'>
                                <td>
                                    <%= e.name %>
                                </td>
                                <td>
                                    <%= e.date.strftime("%a %b #{e.date.day.ordinalize}, %Y") %>
                                </td>
                                <td>
                                    <%= e.time.strftime("%I:%M %p") %>
                                </td>
                                <td>
                                    <%= e.location %>
                                </td>
                                <td>
                                    <%= e.state %>
                                </td>
                                <td>
                                    <a href='<%= edit_event_path e.id %>' role='button' data-toggle="tooltip" title="Edit!" class='btn btn-secondary clk'>
                                        <i class="fa fa-pencil-square-o clk" aria-hidden="true"></i>
                                    </a>
                                    <a href='<%= delete_event_path e.id %>' data-toggle="tooltip" title="Delete!" class='btn btn-danger clk' data-confirm="Are you sure you want to delete this event?"
                                        data-method='delete'>
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <% end %>
                    </tbody>
                    <% if @created.length > 4 %>
                        <tfoot>
                            <tr>
                                <th colspan="6">
                                    ...
                                    <br />
                                    <button class="expander btn btn-info btn-sm">More Events</button>
                                </th>
                            </tr>
                        </tfoot>
                    <% end %>
                </table>
            </div>
            <% if @attended.count > 0 %>
            <h4>Past Events: </h4>
            <div class='table-responsive'>
                <table class="table table-striped table-hover auto-c">
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Date</th>
                            <th>Location</th>
                            <th>State</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @attended.each do |e| %>
                            <tr class='clickable-row' data-href='<%= show_event_path e.id %>'>
                                <td>
                                    <%= e.name %>
                                </td>
                                <td>
                                    <%= e.date.strftime("%a %b #{e.date.day.ordinalize}, %Y") %>
                                </td>
                                <td>
                                    <%= e.location %>
                                </td>
                                <td>
                                    <%= e.state %>
                                </td>
                            </tr>
                            <% end %>
                    </tbody>
                    <% if @attended.length > 4 %>
                        <tfoot>
                            <tr>
                                <th colspan="6">
                                    ...
                                    <br />
                                    <button class="expander btn btn-info btn-sm">More Events</button>
                                </th>
                            </tr>
                        </tfoot>
                    <% end %>
                </table>
            </div>
            <% end %>
        </div>
        <div class='col-3'>
            <h4>Invitations Pending - <%= @user.invites.count %></h4>
            <div id='invites'>
            <% @user.invites.each do |i| %>
                <div class='invite'>
                    <p><%= i.message %></p>
                    <a href='<%= response_path(i.event_id, 1) %>' role='button' data-toggle="tooltip" title="Accept!" class='btn btn-success btn-sm'>
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </a>
                    <a href='<%= response_path(i.event_id, 0) %>' role='button' data-toggle="tooltip" title="Decline!" class='btn btn-danger btn-sm'>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </div>
            <% end %>
            </div>
        </div>
    </div>
</div>
